/* Reset box-sizing to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margins and paddings */
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* Reset list styles */
ul,
ol {
  list-style: none;
}



/* Reset links to remove underline and change color */
a {
  text-decoration: none;
  color: inherit;
}

/* Set images to be responsive */
img {
  max-width: 100%;
  height: auto;
}
